body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 100%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

textarea,
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

input[type="radio"] {
    margin-right: 5px;
}

div.radio-group {
    margin-bottom: 20px;
}
#respuesta-openai {
    margin-top: 20px; /* Espacio entre la tabla y la respuesta de OpenAI */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#autoevaluacion-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#autoevaluacion-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#autoevaluacion-form textarea,
#autoevaluacion-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#autoevaluacion-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#autoevaluacion-form button:hover {
    background-color: #0056b3;
}

#autoevaluacion-form input[type="radio"] {
    margin-right: 5px;
}

#autoevaluacion-form .radio-group {
    margin-bottom: 20px;
}




 