<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-interval="3000" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
    <!-- slide 1  -->
    <div class="carousel-item active" style="background-image: url(../../../assets/img/1.jpg);">
      <div class="carousel-container">
        <div class="container">
          <h2 class="animate__animated animate__fadeInDown">Bienvenido a tu <strong>Asesor Educativo</strong></h2>
          <br>
          <h3 style="text-align: center; color: white;" class="animate__animated animate__fadeInUp">
          ¿No sabes donde estudiar?
          </h3>
          <br>
          <h4 style="color: white;" class="animate__animated animate__fadeInUp" >En esta página podras conocer tus opciones y así elegir la mejor.</h4>
          <br>
          <button  class="animate__animated animate__fadeInUp" mat-raised-button color="accent" routerLink="/login">Inicia Sesion para comenzar</button>
        </div>
      </div>
    </div>

    <!-- slide 2 -->
    <div class="carousel-item active" style="background-image: url(../../../assets/img/2.jpg);">
      <div class="carousel-container">
        <div class="container">
          <h2 class="animate__animated animate__fadeInDown">Bienvenido a tu <strong>Asesor Educativo</strong></h2>
          <br>
          <h3 style="text-align: center; color: white;" class="animate__animated animate__fadeInUp">
          ¿No sabes donde estudiar?
          </h3>
          <br>
          <h4 style="color: white;" class="animate__animated animate__fadeInUp" >En esta página podras conocer tus opciones y así elegir la mejor.</h4>
          <br>
          <button class="animate__animated animate__fadeInUp" mat-raised-button color="accent" routerLink="/login">Inicia Sesion para comenzar</button>
        </div>
      </div>
    </div>

    <!-- slide 3 -->

    <<div class="carousel-item active" style="background-image: url(../../../assets/img/3.jpg);">
      <div class="carousel-container">
        <div class="container">
          <h2 class="animate__animated animate__fadeInDown">Bienvenido a tu <strong>Asesor Educativo</strong></h2>
          <br>
          <h3 style="text-align: center; color: white;" class="animate__animated animate__fadeInUp">
          ¿No sabes donde estudiar?
          </h3>
          <br>
          <h4 style="color: white;" class="animate__animated animate__fadeInUp" >En esta página podras conocer tus opciones y así elegir la mejor.</h4>
          <br>
          <button class="animate__animated animate__fadeInUp" mat-raised-button color="accent" routerLink="/login">Inicia Sesion para comenzar</button>
        </div>
      </div>
    </div>
    </div>

    <a href="#heroCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chrevron-left"></span>
    </a>

    <a href="#heroCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chrevron-right"></span>
    </a>

  </div>
</section>

<main>
  
     
    


  
</main>