<h3 class="m-3">{{data?.title}}</h3>
<br>
<mat-dialog-content>
<form [formGroup]="billForm" (submit)="onSave()">
    <!-- Rfc -->
    <mat-form-field class="full-width mb-3" appearance="outline">
     <mat-label>Rfc</mat-label>
     <input type="text" formControlName="rfc" matInput>
     <mat-error>
        {{baseForm.getErrorMessage(billForm.get('rfc'))}}
     </mat-error>
    </mat-form-field>

    <!-- Dirección -->
    <mat-form-field class="full-width mb-3" appearance="outline">
        <mat-label>Dirección</mat-label>
        <input type="text" formControlName="direccion" matInput>
        <mat-error>
           {{baseForm.getErrorMessage(billForm.get('direccion'))}}
        </mat-error>
       </mat-form-field>
       
       <!-- Cfdi -->
       <mat-form-field class="full-width mb-3" appearance="outline">
        <mat-label>Cfdi</mat-label>
        <mat-select formControlName="cfdi">
            <mat-option value="1">Adquisición de mercancía</mat-option> 
            <mat-option value="2">Gastos en general</mat-option>
            <mat-option value="3">Equipo de transporte</mat-option>
            <mat-option value="4">Otra maquinaria y equipo</mat-option>
        </mat-select>
    </mat-form-field> 



       <!-- acciones -->
       <div align="center">
        <button type="submit"
        class="me-2"
        mat-raised-button
        color="primary" 
        [disabled]="this.billForm.invalid">
       
            <mat-icon>save</mat-icon>
            {{ tittleButton }}
        </button>
        <button mat-raised-button color="warn" (click)="onClear()">
       <mat-icon>clear</mat-icon>
       Limpiar
        </button>
       </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="">
        <mat-icon>close</mat-icon>
        Cerrar
    </button>
</mat-dialog-actions>
